{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content -%}
<div class="main">
    <div class="form">
        <div class="text-info">
            <h3>Укажи ссылку, которую необходимо сократить</h3>
        </div>
        <div class="input-form">
            <input id="long_url" type="url" placeholder="Вставьте URL">
        </div>
        <div class="div-short-url" id="div-short-url">
            <div class="span-box">
                <span id="short_url"></span>
                <button hidden id="copy-btn" class="copy-btn" onclick="copyTextToClipboard('short_url')"></button>
                <label for="copy-btn">
                    <img class="copy-icon" src="static/png/copy-icon.png" alt="">
                </label>
            </div>
        </div>
        <h4 id="error" class="error"></h4>
        <div class="button">
            <button id="post-btn" class="post-btn" onclick="create_url('long_url')">Сократить ссылку</button>
        </div>
    </div>
</div>
{% endblock -%}
